body {
    background-color: #f0f2f5;
    color: #333;
}
.container {
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #911b1b;
}
.btn-custom {
    background-color: #911b1b;
    color: white;
    border: none;
}
.btn-custom:hover {
    background-color: #721414;
}
.result-img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.logout-link {
    color: #911b1b;
    display: block;
    margin-top: 20px;
}
.logout-link:hover {
    text-decoration: underline;
}
