body {
    background-color: #f8f9fa;
    text-align: center;
}
.container {
    margin-top: 50px;
}
.logo {
    max-width: 200px;
    margin-bottom: 30px;
}
.btn-custom {
    background-color: #911b1b;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.btn-custom:hover {
    background-color: #721414;
}
