<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register and Login</title>
</head>
<body>
    <h2>New user? Register</h2>
    <form action="/register" method="post">
        <label for="register_firstname">First Name:</label>
        <input type="text" id="register_firstname" name="register_firstname" required><br><br>
        <label for="register_lastname">Last Name:</label>
        <input type="text" id="register_lastname" name="register_lastname" required><br><br>
        <label for="register_password">Password:</label>
        <input type="password" id="register_password" name="register_password" required><br><br>
        <input type="submit" value="Register">
    </form>
    <a href="/logout">Logout</a>
</body>
</html>
